<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ROBLOXTextureAssetStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ROBLOXTextureAssetStudio.Properties.Settings>
            <setting name="ExportPath" serializeAs="String">
                <value />
            </setting>
            <setting name="doExportVMT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VMTDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="DecalPainterColour" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="FormStartLocation" serializeAs="String">
                <value>50, 50</value>
            </setting>
            <setting name="PromptPositionReset" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DecalColourTransparency" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DecalDecalTransparency" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ShaderType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SurfaceType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaterialType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Intensity" serializeAs="String">
                <value>1.00</value>
            </setting>
            <setting name="MaterialColour" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="StudsOutlets" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StudsInlets" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StudsUniversal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StudsSmooth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StudsGlue" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StudsColour" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="StudsIntensity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ExportCategory" serializeAs="String">
                <value>True</value>
            </setting>
        </ROBLOXTextureAssetStudio.Properties.Settings>
    </userSettings>
</configuration>